body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Fondo principal */
#fondo {
    position: fixed; /* mantiene el fondo fijo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* lo manda al fondo */
    transition: background-image 0.5s ease, opacity 0.5s ease;
}

/* Fondo de Estrella */
#fondo.estrella {
    background-image: url("img/fondo_estrella.jpg"); /* imagen de fondo */
    background-size: contain; /* muestra la imagen completa */
    background-position: center; /* centra la imagen */
    background-repeat: repeat; /* se repite */
    opacity: 0.6; /* transparencia del fondo */
}

/* Fondo de Monedas */
#fondo.monedas {
    background-image: url("img/fondo_monedas.jpg"); /* imagen de fondo */
    background-size: auto 100%; /* cubre toda la pantalla */
    background-position: center; /* centra la imagen */
    background-repeat: repeat-x; /* se repite */
    opacity: 0.6; /* transparencia del fondo */
}

/* Fondo de Flor de Fuego */
#fondo.flor {
    background-image: url("img/fondo_flor.jpg"); /* imagen de fondo */
    background-size: 420px 200px; /* tamaño de cuadricula */
    background-position: center; /* centra la imagen */
    background-repeat: repeat; /* permite que se repita la imágen*/
    opacity: 0.6; /* transparencia del fondo */
}

/* Fondo de Champiñón */
#fondo.champiñon {
    background-image: url("img/fondo_champiñon.jpg"); /* imagen de fondo */
    background-size: cover; /* cubre toda la pantalla */
    background-position: center; /* centra la imagen */
    background-repeat: no-repeat; /* no se repite */
    opacity: 0.5; /* transparencia del fondo */
}

h1 {
    text-align: center;
    color: red;
    margin-top: 20px;
    background-color: white; /* resalta detrás del texto */
    display: inline-block; /* para que el fondo se ajuste al texto */
    padding: 5px 10px; /* espacio alrededor del texto */
    border-radius: 10px; /* opcional: bordes redondeados */
}

img {
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.1);
}

a {
    font-family: "Times New Roman", serif;
    color: red;
    text-decoration: none;
    float: right;
    margin: 10px;
}

a:hover {
    color: white;
}






